@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .title {
        font-size: 65px;
    }
    .fz-25 {
        font-size: 23px;
    }
    .fz-43 {
        font-size: 40px;
    }
    .promo {
        &__title {
            font-size: 65px;
            line-height: 110%;
        }
        &__wrapper {
            padding-top: 110px;
        }
        &__block {
            padding-bottom: 180px;
        }
    }
    .about {
        &__wrapper {
            padding-bottom: 120px;
        }
    }
    .progress {
        grid-template-rows: repeat(4, minmax(50px, auto));
        margin-right: 10px;
    }
    .features {
        &__wrapper {
            justify-content: center;
            padding-bottom: 120px;
            gap: 20px;
        }
    }
    .card {
        width: 310px;
    }
    .services {
        &__background {
            background-position: top right -50px;
        }
        &__wrapper {
            padding-bottom: 120px;
            row-gap: 40px;
        }
        &__block {
            width: 300px;
        }
    }
    .price {
        &__subtitle {
            font-size: 19px;
        }
        &__title {
            font-size: 33px;
        }
    }
    .tabs {
        &__wrapper {
            justify-content: center;
            padding-bottom: 120px;
            gap: 20px;
        }
        &__block {
            height: 570px;
        }
        &__title {
            height: 105px;
        }
        &__cost {
            padding-top: 35px;
        }
    }
}
@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .title {
        font-size: 60px;
    }
    .text {
        padding-bottom: 50px;
    }
    .fz-16 {
        font-size: 14px;
    }
    .fz-18 {
        font-size: 16px;
    }
    .fz-20 {
        font-size: 18px;
    }
    .fz-25 {
        font-size: 21px;
    }
    .fz-43 {
        font-size: 37px;
    }
    .navigation {
        &__links {
            margin-right: 25px;
        }
    }
    .btn {
        height: 47px;
    }
    .promo {
        &__title {
            font-size: 58px;
            line-height: 110%;
        }
        &__wrapper {
            padding-top: 70px;
        }
        &__block {
            padding-bottom: 100px;
        }
    }
    .about {
        &__wrapper {
            padding-bottom: 100px;
        }
        &__img {
            margin-right: 40px;
        }
    }
    .features {
        &__wrapper {
            padding-bottom: 100px;
        }
    }
    .services {
        &__wrapper {
            justify-content: space-between;
            padding-bottom: 100px;
        }
        &__block {
            width: 320px;
        }
    }
    .tabs {
        &__wrapper {
            padding-bottom: 100px;
        }
        &__block {
            width: 320px;
            height: 540px;
        }
    }
}   
@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .title {
        font-size: 55px;
    }
    .text {
        padding-bottom: 50px;
    }
    .fz-16 {
        font-size: 14px;
    }
    .fz-18 {
        font-size: 14px;
    }
    .fz-20 {
        font-size: 16px;
    }
    .fz-25 {
        font-size: 19px;
    }
    .fz-43 {
        font-size: 33px;
    }
    .btn {
        width: 70px;
        height: 40px;
        &_transperent {
            width: 110px;
            height: 50px;
        }
    }
    .navigation {
        &__links {
            margin-right: 15px;
        }
    }
    .promo {
        &__title {
            font-size: 55px;
        }
        &__wrapper {
            padding-top: 50px;
        }
        &__block {
            width: 100%;
            padding-bottom: 70px;
        }
        &__img {
            display: none;
        }
    }
    .about {
        &__wrapper {
            flex-direction: column;
            justify-content: center;
            padding-bottom: 80px;
        }
        &__img {
            width: 50%;
            padding-bottom: 15px;
        }
    }
    .features {
        &__wrapper {
            padding-bottom: 80px;
        }
    }
    .card {
        width: 260px;
        &__img {
            width: 130px;
            height: 130px;
        }
        &__btn {
            width: 100px;
            height: 45px;
        }
    }
    .services {
        &__background {
            background-position: top;
        }
        &__title {
            text-align: center;
        }
        &__text {
            padding-bottom: 50px;
            width: 100%;
            text-align: center;
        }
        &__wrapper {
            padding-bottom: 80px;
        }
    }
    .tabs {
        width: 270px;
        &__wrapper {
            padding-bottom: 80px;
        }
    }
    .card {
        width: 255px;
    }
    .clients {
        &__carousel {
            padding-right: 30px;
            padding-left: 30px;
            margin-bottom: 80px;
        }
    }
    .carousel {
        &__text {
            img {
                width: 25px;
            }
        }
        &__inner {
            height: 330px;
        }
        &__indicators {
            li {
                width: 15px;
                height: 9px;
            }
            .active-dots {
                width: 30px;
                opacity: 1;
            }
        }
    }
    .footer {
        &__title {
            padding-bottom: 15px;
        }
        &__wrapper {
            padding-top: 50px;
        }
        &__block {
            &_318px {
                max-width: inherit;
                text-align: center;
                padding-bottom: 20px;
            }
        }
        &__btn {
            width: 100px;
            margin-bottom: 35px;
        }
        &__icons {
            margin-bottom: 18px;
        }
        &__icon {
            margin-right: 15px;
        }
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
    header {
        display: none;
    }
    .title {
        font-size: 52px;
    }
    .text {
        padding-bottom: 30px;
    }
    .fz-16 {
        font-size: 13px;
    }
    .fz-18 {
        font-size: 13px;
    }
    .fz-20 {
        font-size: 15px;
    }
    .fz-25 {
        font-size: 18px;
    }
    .fz-43 {
        font-size: 30px;
    }
    .promo {
        &__title {
            text-align: center;
            font-size: 52px;
        }
        &__text {
            text-align: center;
        }
        &__play {
            justify-content: center;
        }
    }
    .about {
        &__wrapper {
            padding-bottom: 70px;
        }
        &__img {
            margin-right: 0;
        }
    }
    .progress {
        margin-right: 0;
        &__item {
            grid-template-columns: 310px;
        }
        &__line {
            width: 100%;
        }
    }
    .features {
        &__wrapper {
            padding-bottom: 70px;
        }
    }
    .card {
        width: 300px;
        &__btn {
            width: 120px;
        }
    }
    .services {
        &__wrapper {
            justify-content: center;
            row-gap: 20px;
            padding-bottom: 70px
        }
    }
    .tabs {
        &__wrapper {
            padding-bottom: 70px;
        }
    }
    .clients {
        &__carousel {
            margin-bottom: 70px;
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    .carousel {
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__text {
            height: 140px;
            p {
                padding-top: 0;
            }
        }
        &__block {
            padding-left: 5px;
        }
        &__img {
            width: 50px;
            img {
                width: 100%;
            }
        }
    }
    .footer {
        &__wrapper {
            padding-top: 30px;
            display: block;
            margin: 0 25%;
            text-align: center;
        }
        &__block {
            &_318px {
                display: none;
            }
        }
        &__btn {
            margin: 0 auto 15px auto;
        }
    }
    .menu {
        display: block;
        &_scroll {
            overflow: hidden;
        }
    }
    .overlay {
        .video {
            width: 90%;
            height: 90%;
        }
    }

}