.about {
    &__title {
        margin-top: 65px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        padding-bottom: 140px;
    }
    &__img {
        margin-right: 97px;
        width: 43%;
        img {
            width: 100%;
        }
    }
}