.features {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 140px;
        // width: 200px;
        // height: 260px;
        // border: 1px solid #CCC;
        // margin: 40px 0;
        // perspective: 600px;
    }
}