.header {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
    }
    &__logo {
        a {
            color: $title;
        }
    }
}