.promo {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-top: 140px;
    }
    &__block {
        padding-bottom: 230px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
    }
    &__title {
        font-size: 69px;
        font-family: Lato;
        line-height: 120%;
        padding-bottom: 25px;
        color: $title;
        span {
            font-family: Lato;
            color: $second;
        }
    }
    &__text {
        padding-bottom: 35px;
        max-width: 490px;
    }
    &__btn {
        display: flex;
        align-items: center;
        color: $title;
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px; 
        height: 70px;
        background: #FFFFFF;
        border-radius: 50%;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-right: 25px;
        div {
            width: 0; 
            height: 0;
            border-top: 11px solid transparent;
            border-left: 20px solid #1B45DA;
            border-bottom: 11px solid transparent;
        }
    }
    &__img {
        width: 50%;
        position: relative;
        img {
            // position: absolute;
            width: 100%;
        }
    }
}