.btn {
    width: 134px;
    height: 59px;
    background: $second;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    &:focus {
        outline-style: none;
        outline-width: 0px !important;
        outline-color: none !important;
    }
    &_transperent {
        background: none;
        border: 1px solid $second;
        color: $second;
    }
    &:hover {
        background-color: darken($second, 10%);
        transition: 0.3s all;
    }
}